.web {
  display: flex;
  flex: 1;
  align-items: center;
}
.web-option {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 700;
}

.web-option a {
  text-decoration: none;
  color: grey;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .web-option {
    padding: 0 0.2;
  }
}
