.web {
  display: flex;
  flex: 1;
  align-items: center;
}
.web-option {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 700;
  padding-right: 2rem;
}

.web-option a {
  text-decoration: none;
  color: grey;
  display: flex;
  align-items: center;
}

.option-icon{
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

/* .web-option:last-child{
    margin-right: 0px;
} */

@media screen and (max-width:1440px) {
    .web-option{
        padding-right: 0.5rem;
    }
}


@media screen and (max-width: 1092px) {
  .web-option {
    padding-right: 0;
  }
}
