.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-title{
    font-size: 32px;
    font-weight: bold;
}
.social-chetan{
    margin-top: -50px;
}
.contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}

.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}
.download{
    background-color: aliceblue;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.download a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:720px) {
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        max-width: 100%;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .download a{
        font-size: 16px;
        padding: 7px;
    }
}